<h1>Potin numéro <%= @gossips.id%></h1>

<h2><%=@gossips.titre%></h2>
<tbody><%= @gossips.content%></tbody>

<p>
	<a href="<%=gossips_path%>" class="btn btn-success">Retour à la page d'accueil</a>

</p>